
.row{
	border-bottom: var(--border);
	display: flex;
	align-items: stretch;
    justify-content: space-between;
	height: 40px;
}

.moveIn{
	animation: 1s ease moveIn forwards;
}

.moveOut{
	animation: 1s ease moveOut forwards;
}

.checkboxContainer{
	display: flex;
	display: flex;
    align-items: center;
}

.checkbox{
	accent-color: var(--violet-400);
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.span{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: auto 0;
}

.edit, .remove{
	outline: none;
	border: none;
	border-width: 1px;
	background: transparent;
	margin: 3px 1px;
	cursor: pointer;
	border-radius: 4px;
}

.edit{
	border: 1px solid var(--violet-400);
}

.edit:hover{
	color: white;
	background: var(--violet-400);
}

.remove{
	color: white;
	border: 1px solid var(--red-500);
	background: var(--red-500);
}

.remove:hover{
	background: var(--red-300);
}

.closer path{
	stroke: white;
}

.closer:hover path{
	stroke: white;
}