

:root{
	--color: red;
	--red-500: red;
	--red-300: #ff000087;
	--red-100: #ff000045;
	--violet-400: #b50c9d;
	--violet-100: #b50c9d40;
	--border: 1px solid var(--violet-400);
	--red-border: 1px solid var(--red-300);
}

*{
	transition: .3s;
}

@keyframes moveIn{
	0%{
		transform: translateX(100%);
	}

	100%{
		transform: translateX(0);
	}
}

@keyframes moveOut{
	0%{
		transform: translateX(0);
	}

	90%{
		transform: translateX(100%);
	}

	95%{
		transform: translateX(100%);
		height: 0;
	}

	100%{
		transform: translateX(100%);
	}
}

.main{
	width: 400px;
}

@media screen and (max-width: 800px){
	.main{
		width: 100%;
		margin: 20px;
	}
}

.h:hover{
	box-shadow: 2px 2px 5px black;
}


.main > *{
	width: 100%;
	padding: 5px 0;
	margin-top: 5px;
}

.title{
	text-align: center;
	font-size: 35px;
	font-family: "Clash Display", sans-serif;
}

.primaryBtn, .cancelBtn{
	padding: 10px;
	border-radius: 8px;
	background-color: var(--violet-400);
	color: white;
	font-weight: bold;
	border: var(--border);
	cursor: pointer;
}

.primaryBtn:hover{
	padding: 10px;
	background-color: var(--violet-100);
	color: var(--violet-400);
	border: var(--border);
}

.cancelBtn{
	background-color: transparent;
	color: var(--red-300);
	border: var(--red-border);
}
/**/
.cancelBtn:hover{
	background-color: var(--red-300);
	color: white;
	border: var(--red-border);
}

.tasksList{
	height: 300px;
	overflow-y: scroll;
}

.checkboxContainer{
	display: flex;
	justify-content: center;
    align-items: center;
}

.checkbox{
	accent-color: var(--violet-400);
	height: 20px;
	width: 20px;
	cursor: pointer;
}